{% extends 'base.html' %}


{% block body %}

<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>

<h1>A Fancy Table</h1>

<table id="customers">
  <tr>
    <th>Job Title</th>
    <th>Category</th>
    <th>Description</th>
    <th>Vacancy</th>
    <th>Skills</th>
    <th>Job Image</th>
    <th>Actions</th>
  </tr>
  
  {% for i in jobs %}
  <tr>
    <td>{{i.title}}</td>
    <td>{{i.category}}</td>
    <td>{{i.description}}</td>
    <td>{{i.openings}}</td>
    <td>{{i.skills}}</td>
    <td>
        <img src="/{{i.Job_Image}}" height="80px" alt="">
    </td>
    <td>
        <a href=" {% url 'deleteJob' i.id %} ">Delete</a>
        <a href=" {% url 'editJob' i.id %} ">Edit</a>
        <a href=" {% url 'viewJob' i.id %} ">View</a>
    </td>
  </tr>
  {% endfor %}
    
 

</table>

</body>
</html>



    
{% endblock body %}
    